# Comprehensions

1. concise way to write a data transformation
2. Quick to write, easy to parse and powerful at the same time.
3. There are many cases when we want to iterate over a list or a dict to perform an operation on every element and then collect all the results in the new list of dict. We can do it with for loop. Python offers a great feature called comprehensions that lets us write shorter and clearer code and it achieves the same effect.

In [1]:
squares = []

In [2]:
for i in range(10):
    squares.append(i**2)

In [3]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
squares = [i**2 for i in range(10)]

In [5]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
squares3 = [i**2 for i in range(30) if i%3==0]

In [7]:
squares3

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

In [8]:
squares3_dict = {i: i**2 for i in range(30) if i%3==0}
squares3_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [9]:
capitals = {'India' : 'Delhi', 'South Korea' : 'Seoul', 'USA':'Washington DC'}

In [10]:
capitals_bycapital = {capitals[key] : key for key in capitals}

In [11]:
capitals_bycapital

{'Delhi': 'India', 'Seoul': 'South Korea', 'Washington DC': 'USA'}

In [12]:
sum([i**2 for i in range(10)])

285

In [13]:
sum(i**2 for i in range(10)) # Same result as above without creating a list

285