# Creating lists with range function
range(start,stop,step) :
1. start - first value in the list. Optional input. If not mentioned, by default it is to be taken as 0.
2. stop - last value + 1. It is a required input. Most imp.
3. step - distance between two consecutive values. Optional input. If not mentioned, by default it is to be taken as 1.

In [4]:
a = range(10)

In [13]:
a # Will print list containing elements starting from 0 to 9. So it will take 10 as the stop value, by default 0 as the start value and 1 as the step value.
#output will be - [0,1,2,3,4,5,6,7,8,9]

range(0, 10)

In [14]:
range(3,7) #Will print list containing elements starting from 3 to 6. So it will take 3 as start value, 7 as stop value and by default, 1 as step value.
#output will be - [3,4,5,6]

range(3, 7)

In [15]:
range(1,20,2) # Will print list containing elements starting from 1 to 19 but we will obtain all the elements with a gap of 2 since step value is 2. So in short we are getting odd values from this list.
# Output will be - [1,3,5,7,9,11,13,15,17,19]

range(1, 20, 2)

# Using Loops with range
We use iterations when we have to go through variables that are a part of a list.

In [16]:
for n in range(10): 
    print (2 ** n)

1
2
4
8
16
32
64
128
256
512

In [19]:
for x in range(20):
    if x%2 == 0:
        print (x,)
    else:
        print("Odd",)

0
Odd
2
Odd
4
Odd
6
Odd
8
Odd
10
Odd
12
Odd
14
Odd
16
Odd
18
Odd

In [20]:
x = [0,1,2]

In [22]:
for item in x:
    print (item)

0
1
2

In [23]:
for item in range(len(x)):
    print (x[item])

0
1
2

In [34]:
def count(list):
    total = 0
    for x in (list):
        if x <=20:
            total+=1
    return total

In [35]:
list_1 = [1,2,3,4,5,90,123,43,52,71]

In [36]:
count(list_1)

5

In [49]:
def count1(list): # Result in this case is confined in the loop so it will always produce 1 as the result since loop will run over all the elements and everytime it encounters a new element, it will make total as 0 and total as 1.
    total = 0
    for x in range(len(list)):
        if x<= 20 :
            total +=1
        return total

In [50]:
list_2 = [1,2,3,4,90,73,88,323,22,61]

In [51]:
count1(list_2)

1

In [52]:
list_3 = [1,3,12,44,37,293,4234,64,23,66]

In [57]:
def count2(list): # In this case, the result will be returning the count of variables which are present in the loop and the condition mentioned will not be applied on the values of the list given as input since we are using range function on lenght of the list and not the elements of the list.
     total = 0 
     for x in range(len(list)):
        if x<= 20 :
            total +=1
     return total

In [58]:
count2(list_3)

10